{{range .Todos}} {{block "todo-list-row" .}}
<tr id="tr_{{.Id}}">
  <td style="width: 30px">
    <input
      id="cb_{{.Id}}"
      type="checkbox"
      class="form-check-input"
      disabled
      {{if
      .Done}}
      checked
      {{end}}
    />
  </td>
  <td>
    <input
      id="task_input_{{.Id}}"
      autofocus
      type="text"
      value="{{.Task}}"
      class="form-control"
      required
      name="task"
    />
  </td>
  <td class="text-end" style="width: 250px">
    <button
      hx-post="/save-edit/{{.Id}}"
      hx-swap="outerHTML"
      hx-target="#tr_{{.Id}}"
      hx-include="closest tr"
      id="btn_save_{{.Id}}"
      class="btn btn-primary"
    >
      Save
    </button>

    <button
      id="btn_cancel_{{.Id}}"
      hx-get="/cancel-edit/{{.Id}}"
      hx-swap="outerHTML"
      class="btn btn-danger"
      hx-target="#tr_{{.Id}}"
    >
      Cancel
    </button>
  </td>
</tr>

{{end}} {{ end }}
